@import "../../global.scss";

.h-bg {
  background-image: url("../images/bg-home.jpg");
  background-position: center;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

nav {
  background-color: rgba($color: #000000, $alpha: 0.667);
  height: 80px;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
}

label.logo {
  color: white;
  line-height: 80px;
  font-size: 35px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 10px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}
